*

!.config/
!.config/assets/
!.config/assets/**
!.config/waybar/
!.config/waybar/**
!.config/cava/
!.config/cava/**
!.config/hypr
!.config/hypr/**
!.config/alacritty/
!.config/alacritty/**
!.config/zed/
!.config/zed/**
!.config/spicetify/
!.config/spicetify/**
!.scripts/
!.scripts/**
!.config/btop/
!.config/btop/**
!.config/starship.toml
!README.md
!.gitignore
