*

!.config/
!.config/assets/
!.config/assets/**
!.config/waybar/
!.config/waybar/**
!.config/cava/
!.config/cava/**
!.config/hypr
!.config/hypr/**
!.config/alacritty/
!.config/alacritty/**
!.config/zed/
!.config/zed/**
!.scripts/
!.scripts/**
!README.md
!.gitignore
